img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  
}
.card button{
  background-color: #00CC8E;
  color:  #000000;
  padding: 0.5rem;
  width: 100%;
border-radius: 0.25rem;

}
.card button:hover{
    background-color: #00fffb;
    color:  #000000;
    padding: 0.5rem;
  }
.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
background-color: #00fffb;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
     .card__image {
      filter: contrast(100%);
    } 
  }
}
.card a{
    text-decoration: none;
    
  
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}


.card__title {
  color:  #000000;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  color: black;
}

/* Blog-details Section - Blog Details Page
------------------------------*/
.blog-details .article {
    box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
    padding: 30px;
  }
  
  .blog-details .post-img {
    margin: -30px -30px 20px -30px;
    overflow: hidden;
    border-radius: 30px;
  }
  
  .blog-details .title {
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 700;
    padding: 0;
    margin: 30px 0;
  }
  
  .blog-details .content {
    margin-top: 20px;
  }
  .blog-details .content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
  }
  
  .blog-details .content blockquote {
    overflow: hidden;
    background-color: rgba(var(--default-color-rgb), 0.05);
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
  }
  
  .blog-details .content blockquote p {
    color: black;
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
  }
  
  .blog-details .content blockquote:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .blog-details .meta-top {
    margin-top: 20px;
    color: rgba(var(--default-color-rgb), 0.6);
  }
  
  .blog-details .meta-top ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .blog-details .meta-top ul li+li {
    padding-left: 20px;
  }
  
  .blog-details .meta-top i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: rgba(var(--default-color-rgb), 0.6);
  }
  
  .blog-details .meta-top a {
    color: rgba(var(--default-color-rgb), 0.6);
    font-size: 14px;
    display: inline-block;
    line-height: 1;
  }
  
  .blog-details .meta-bottom {
    padding-top: 10px;
    border-top: 1px solid rgba(var(--default-color-rgb), 0.1);
  }
  
  .blog-details .meta-bottom i {
    color: rgba(var(--default-color-rgb), 0.6);
    display: inline;
  }
  
  .blog-details .meta-bottom a {
    color: rgba(var(--default-color-rgb), 0.6);
    transition: 0.3s;
  }
  
  .blog-details .meta-bottom a:hover {
    color: var(--primary-color);
  }
  
  .blog-details .meta-bottom .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
  }
  
  .blog-details .meta-bottom .cats li {
    display: inline-block;
  }
  
  .blog-details .meta-bottom .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
  }
  
  .blog-details .meta-bottom .tags li {
    display: inline-block;
  }
  
  .blog-details .meta-bottom .tags li+li::before {
    padding-right: 6px;
    color: var(--default-color);
    content: ",";
  }
  
  .blog-details .meta-bottom .share {
    font-size: 16px;
  }
  
  .blog-details .meta-bottom .share i {
    padding-left: 5px;
  }
  
  .blog-details .sidebare {
    padding: 30px;
    box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
  }
  
  .blog-details .sidebare .sidebar-title {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  
  .blog-details .sidebare .sidebar-item+.sidebar-item {
    margin-top: 40px;
  }
  
  .blog-details .sidebare .search-form form {
    background: rgba(0, 204, 143, 0.468);
    border: 1px solid rgba(0, 204, 142, 1);
    border-radius: 10px;
    padding: 3px 10px;
    position: relative;
  }
  
  .blog-details .sidebare .search-form form input[type=text] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
    background-color: var(--background-color);
    color: var(--default-color);
  }
  
  .blog-details .sidebare .search-form form input[type=text]:focus {
    outline: none;
  }
  
  .blog-details .sidebare .search-form form button {
    background: var(--primary-color);
    color: var(--background-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
  }
  
  .blog-details .sidebare .search-form form button i {
    line-height: 0;
  }
  
  .blog-details .sidebare .search-form form button:hover {
    background: rgba(var(--primary-color-rgb), 0.8);
  }
  
  
  
  .blog-details .sidebare .recent-posts .post-item {
    display: flex;
    margin-top: 15px;
  }
  
  .blog-details .sidebare .recent-posts img {
    width: 80px;
    margin-right: 15px;
    border-radius: 10px;
  }
  
  .blog-details .sidebare .recent-posts h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
  }
  
  .blog-details .sidebare .recent-posts h4 a {
    color: black;
    transition: 0.3s;
    text-decoration: none;
    
  }
  
  .blog-details .sidebare .recent-posts h4 a:hover {
    color: var(--primary-color);
  }
  
  .blog-details .sidebare .recent-posts time {
    display: block;
    font-style: italic;
    font-size: 14px;
    color: rgba(var(--default-color-rgb), 0.5);
  }
  
  
  
  .blog-details .comments {
    margin-top: 30px;
  }
  
  .blog-details .comments .comments-count {
    font-weight: bold;
  }
  
  .blog-details .comments .comment {
    margin-top: 30px;
    position: relative;
  }
  
  .blog-details .comments .comment .comment-img {
    margin-right: 14px;
  }
  
  .blog-details .comments .comment .comment-img img {
    width: 60px;
  }
  
  .blog-details .comments .comment h5 {
    font-size: 16px;
    margin-bottom: 2px;
  }
  
  .blog-details .comments .comment h5 a {
    font-weight: bold;
    color: var(--default-color);
    transition: 0.3s;
  }
  
  .blog-details .comments .comment h5 a:hover {
    color: var(--primary-color);
  }
  
  .blog-details .comments .comment h5 .reply {
    padding-left: 10px;
    color: rgba(var(--default-color-rgb), 0.8);
  }
  
  .blog-details .comments .comment h5 .reply i {
    font-size: 20px;
  }
  
  .blog-details .comments .comment time {
    display: block;
    font-size: 14px;
    color: rgba(var(--default-color-rgb), 0.6);
    margin-bottom: 5px;
  }
  
  .blog-details .comments .comment.comment-reply {
    padding-left: 40px;
  }
  
  .blog-details .comments .reply-form {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
  }
  
  .blog-details .comments .reply-form h4 {
    font-weight: bold;
    font-size: 22px;
    color: #000;
  }
  
  .blog-details .comments .reply-form p {
    font-size: 14px;
    color: #000;
  }
  
  .blog-details .comments .reply-form input {
    background-color: rgba(0, 0, 1, 0.087);
    color: #000;
    border: 1px solid rgba(var(--default-color-rgb), 0.3);
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 10px;
  }
  
  .blog-details .comments .reply-form input:focus {
    box-shadow: none;
    border-color: var(--primary-color);
  }
  
  .blog-details .comments .reply-form textarea {
    background-color: rgba(0, 0, 1, 0.087);
    color: #000;
    border: 1px solid rgba(var(--default-color-rgb), 0.3);
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
    height: 120px;
  }
  
  .blog-details .comments .reply-form textarea:focus {
    box-shadow: none;
    border-color: var(--primary-color);
  }
  
  .blog-details .comments .reply-form .form-group {
    margin-bottom: 25px;
  }
  
  .blog-details .comments .reply-form .btn {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    background-color: var(--primary-color);
    color: var(--contrast-color);
  }
  
  .blog-details .comments .reply-form .btn:hover {
    color: var(--contrast-color);
    background-color: rgba(var(--primary-color-rgb), 0.8);
  }
  .blog-details .comments .reply-form .text-center button{
    background-color: rgba(0, 204, 142, 1);
  }
  .blog-details .comments .reply-form .text-center button:hover{
    background-color: rgb(0, 255, 213)
  }